.header.outOfGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  margin: 0 auto;
}

.header.outOfGame button {
  width: 100%;
  height: 1.75rem;
}

.header.outOfGame p {
  margin: 0.25rem;
}

.header.duringGame {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.pseudoButton {
  padding: 0.25rem;
  margin: 0;
  flex-grow: 1;
  border: 1px solid black;
  text-align: center;
}

button {
  flex-grow: 1;
  cursor: pointer;
}
