body {
  display: flex;
  justify-content: center;
  margin: 0;
}

#root {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

h1 {
  margin: 0;
}
